<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="save()">
    <ion-item *ngFor="let i of getRange()">
      <ion-label floating color="primary" *ngIf="useInputTag(template[i].type)">{{template[i].title}}</ion-label>
      <ion-label color="primary" *ngIf="useCheckBox(template[i].type)">{{template[i].title}}</ion-label>

      <ion-input *ngIf="useInputTag(template[i].type)" type={{template[i].type}} [(ngModel)]="result[template[i].title]"
      name={{template[i].title}} clearInput value={{this.getDef(i)}}></ion-input>
      <ion-toggle *ngIf="useCheckBox(template[i].type)" ngModel="result[template[i].title]" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>

    <button ion-button type="submit" block>Save</button>
  </form>
</ion-content>
